html, body{
	height: 100%;
	font-size: $baseFontSize;
	// overflow-x: hidden;
}

#{$comonElements} {
	box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type=text] {
  -webkit-appearance: none;
}


/* 饿了么样式覆盖 */

div.el-submenu__title, .el-menu-item {
    color: white!important;
}

.el-submenu__icon-arrow {
    color: #9E9E9E;
}
