.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s linear;
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(100%);
  opacity: 0;
}

.slide-fade2-enter-active {
  transition: all .8s ease;
}
.slide-fade2-leave-active {
  transition: all .3s linear;
}
.slide-fade2-enter, .slide-fade2-leave-active {
  transform: translateX(-100%);
  opacity: 0;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.fade2-enter-active {
  transition: opacity .3s
}
.fade2-enter {
  opacity: 0
}