.input-imp{
		color:red;
		font-size:20px;
		display:inline-block;
		height:21px;
		overflow:hidden;
		vertical-align:text-top;
		margin-right: -9px;
	}
.input-label{
		color:#6f6d6d;
		font-weight:600;
		width:130px;
		display:inline-block;
		text-align:-webkit-right;
		// padding:5px 0;
		// margin-bottom: 5px;
	}

.input-pop {
		width:312px;
		height:28px;
		display:inline-block;
		// line-height:28px;
		// padding:2px 10px;
		// border:2px solid #e5e5e5;
		vertical-align:middle;
		box-sizing:border-box;
		margin-left:10px;
	}
textarea.input-pop{
		height: 60px;
		resize:none;
}
.input-pop::-webkit-input-placeholder{
	// color:#e5e5e5;
}

// .input-pop[type=file]{
// 	border:0;
// }