.input-imp{
		color:red;
		font-size:20px;
	}
.input-label{
		color:#6f6d6d;
		font-weight:600;
		width:130px;
		display:inline-block;
		text-align:-webkit-right;
	}
.input-pop {
		width:312px;
		color:#e5e5e5;
		padding:5px 0;
	}