@import '../mixins/_prefixer.scss';
.newWrap{
    position: fixed;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,.5);
    top:0;
    left:0;
    z-index:3;
    .newForm{
        width:618px;
        max-width:618px;
        left:50%;
        top:50%;
        position: absolute;
        background:white;
        box-shadow:1px 1px 50px rgba(0,0,0,.3);
        border-radius:2px;  
        height:618px;
        .el-tabs{
            height:80%;
            .el-tabs__header{
                padding-top:15px;
                margin: 0px;
                cursor: move;
            }
            .el-tabs__content{
                padding-top:15px;
                height:85%;
                overflow:auto;
                .el-tab-pane{
                    width:100%!important;
                    table{
                        width:100%;
                        text-align: left;
                        .tr1{
                            display:block;
                            width:70%;
                            margin:0 auto;
                            >td{
                                display:block;
                                width:100%;
                                .el-select{
                                    display:block;
                                }
                                .el-textarea__inner{
                                    resize:none;
                                }
                                .el-form-item__label::before{
                                    float: left;
                                }
                            }  

                        }
                        .tr2{
                            display:block;
                            width:98%;
                            margin:0 auto;
                            padding-bottom:20px;
                            >td{
                                display:block;
                                width:100%;
                            }
                            .ul{
                                width:85%;
                                margin:0 auto;
                            }
                        } 
                    }
                }
            }
        }  
        .form-footer{
              border-top: 1px solid #d1dbe5;
              text-align:right;
              padding:20px 10px 50px 0;
            .activecancel{
              background-color:#cccccc;
              color:white;
            }
            .activecancel:hover{
                border-color: transparent !important;
            }
            .batchNumDiv{
                text-align:left;
                padding-left:10px;
                // padding-top:20px;
                .batchNum{
                    display:inline-block;
                    width:40px;
                    input{
                        text-align:center;
                        color:red;
                    }
                }
            }
        }   
        .closeBtn{
            background: url(/public/images/close.png) no-repeat -149px -31px;
            width: 30px;
            height: 30px;
            display: inline-block;
            position: absolute;
            right: -14px;
            top: -12px;
            z-index:3;
            cursor: pointer;
        }
        .closeBtn:hover{
            background-position: -180px -31px;
        }
        .btn_change{
            color: #fff;
        }
    }
}